.home__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  width: 100vw;
  margin: 50px;
  padding: 150px 0;
}

.home__search > h2 {
  font-size: 45px;
  padding: 20px;
}

.home__searchInput {
  height: 40px;
  border: none;
  width: 30vw;
}

.search__btn {
  margin: 10px;
  font-size: 20px;
  padding: 8px;
}
