* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica, Arial;
}

.about,
.find,
.sign-up,
.marketing,
.login {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.find {
  background-image: url("./images/activity.svg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  background-color: rgba(26, 26, 27, 0.99);
}

.sign-up {
  background-image: url("./images/signup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .home__search {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100;
} */

.login {
  background-image: url("./images/login.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
