@import url("https://fonts.googleapis.com/css2?family=News+Cycle&family=Poiret+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "News Cycle","Poiret One", sans-serif;
}

h2 {
  font-family: "Poiret One", "News Cycle", sans-serif;
}
.about,
.find,
.sign-up,
.marketing,
.login {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.find {
  background-image: url("./images/activity.svg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  background-color: rgba(26, 26, 27, 0.99);
}

.sign-up {
  background-image: url("./images/signup.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.search {
  background-image: url("./images/activity-src.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.login {
  background-image: url("./images/login.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.event-container {
  display: flex;
  flex-direction: column;
}
.control {
  display: block;
  width: 100%;
  height: 50px;
  margin: 80px auto;
  font-size: 20px;
}

.search-title {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 38px;
}

.input {
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 20px auto;
  width: 30%;
  border: none;
  border-color: transparent;
  padding: 0.5rem;
  border: #213658;
  background-color: #d9d9d9;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 10px 0px;
}

.events-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  background-color: rgb(212, 186, 186);
  /* align-items: start; */
}



@media screen and (min-width: 576px) {
  .events-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    background-color: rgb(212, 186, 186);
    margin-bottom: 80px;
  }
}
.resultCard {
  margin: 15px;
  text-align: center;
  padding: 20px;
  box-shadow: 8px 7px 13px 0px #dadada;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.gallery-frame {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
}

.event-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-content: center;
  margin: 20px auto;
  padding: 10px;
}

